<script>
  if(window.localStorage.lang != undefined && window.localStorage.lang == "en"){
    // location.href = "/home/mobile";
  }else if(window.localStorage.lang != undefined && window.localStorage.lang == "zh"){
    // location.href = "/home/mobile";
  }else {

  }
</script>
<div class="bg-wapper">
  <div class="content-wapper">
    <div class="introduction">
      <hr>
      <p class="remark">Come Design and build with us,Just in</p>
      <p class="title">LAND SPACE DESIGN.</p>
    </div>
    <div class="which-lang">
      <a href="javascript: window.localStorage.lang = 'en'; location.href='/site?locale=en';" class="language-link btn-lang en" xml:lang="en"></a>
      <a href="javascript: window.localStorage.lang = 'zh'; location.href='/site?locale=zh-CN';" class="language-link btn-lang zh" xml:lang="zh-hans"></a>
    </div>
  </div>
</div>

<style>
  html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
  }

  #titleBar, #header-nav {
    display: none;
  }
</style>