- url = @service_case.new_record? ? admin_service_cases_path : admin_service_case_path(@service_case)
= form_for(@service_case, url: url, html:{class: "horizontal_form", :multipart => true}) do |f|
  - if @service_case.errors.any?
    #error_explanation
      h2 = "#{pluralize(@service_case.errors.count, "error")} prohibited this service_case from being saved:"
      ul
        - @service_case.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :service_type
    = f.text_field :service_type
  .field
    = f.label :title_en
    = f.text_field :title_en
  .field
    = f.label :title_zh
    = f.text_field :title_zh
  .field
    = f.label :description_en
    = f.text_area :description_en
  .field
    = f.label :description_zh
    = f.text_area :description_zh

  = render 'attachments/attachment_fields', f: f
  div id="demo"
  .actions = f.submit


javascript:
  // 初始化插件
  $("#demo").zyUpload({
    width            :   "650px",                 // 宽度
    height           :   "auto",                 // 宽度
    itemWidth        :   "120px",                 // 文件项的宽度
    itemHeight       :   "100px",                 // 文件项的高度
    url              :   "/upload/UploadAction",  // 上传文件的路径
    multiple         :   true,                    // 是否可以多个文件上传
    dragDrop         :   false,                    // 是否可以拖动上传文件
    del              :   true,                    // 是否可以删除文件
    finishDel        :   false,           // 是否在上传文件完成后删除预览
    /* 外部获得的回调接口 */
    onSelect: function(files, allFiles){                    // 选择文件的回调方法

    },
    onDelete: function(file, surplusFiles){                     // 删除一个文件的回调方法
      console.info("当前删除了此文件：");
      console.info(file);
      console.info("当前剩余的文件：");
      console.info(surplusFiles);
    },
    onSuccess: function(file){                    // 文件上传成功的回调方法
      console.info("此文件上传成功：");
      console.info(file);
    },
    onFailure: function(file){                    // 文件上传失败的回调方法
      console.info("此文件上传失败：");
      console.info(file);
    },
    onComplete: function(responseInfo){           // 上传完成的回调方法
      console.info("文件上传完成");
      console.info(responseInfo);
    }
  });

css:
  #content * {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }
