<div class="row">
  <% if ServiceCase::ServiceCategory.present? %>
    <% ServiceCase::ServiceCategory.each_with_index do |type, index|%>
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <a href="<%=service_cases_path(service_type: type[1])%>" >
          <div class="service-item">
            <div class="tile">
              <%=image_tag("services_plus.svg") %>
              <div>
                <p>0<%=index+1 %> /</p>
                <h2><%=t("service_case.#{type[1]}")%></h2>
              </div>
            </div>
          </div>
        </a>
      </div>
    <%end%>
  <%end%>
</div>