
<div id='main-nav-bg'></div>
<nav class='' id='main-nav'>
  <div class='navigation'>
    <ul class='nav nav-stacked'>
      <li class='' id="dashboard">
        <a href='/admin/dashboard'>
          <i class='icon-dashboard'></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class='' id="service_cases">
        <a href='<%=admin_service_cases_path %>'>
          <i class='icon-folder-open-alt'></i>
          <span>服务案例</span>
        </a>
      </li>
      <li class=''>
        <a class='dropdown-collapse' href='#'>
          <i class='icon-cog'></i>
          <span>系统设置</span>
          <i class='icon-angle-down angle-down'></i>
        </a>
        <ul class='nav nav-stacked'>
          <li class=''>
            <a href=''>
              <i class='icon-caret-right'></i>
              <span>网站配置</span>
            </a>
          </li>

          <li class=''>
            <a href=''>
              <i class='icon-caret-right'></i>
              <span>公司信息</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<script>
  $("#<%=controller_name%>").addClass("active");
</script>