
<div id='main-nav-bg'></div>
<nav class='' id='main-nav'>
  <div class='navigation'>
    <ul class='nav nav-stacked'>
      <li class='active'>
        <a href='index.html'>
          <i class='icon-dashboard'></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class=''>
        <a href='index.html'>
          <i class='icon-folder-open-alt'></i>
          <span>服务案例</span>
        </a>
      </li>
      <li class=''>
        <a class='dropdown-collapse' href='#'>
          <i class='icon-cog'></i>
          <span>系统设置</span>
          <i class='icon-angle-down angle-down'></i>
        </a>
        <ul class='nav nav-stacked'>
          <li class=''>
            <a href='form_styles.html'>
              <i class='icon-caret-right'></i>
              <span>Form styles and features</span>
            </a>
          </li>
          <li class=''>
            <a href='form_components.html'>
              <i class='icon-caret-right'></i>
              <span>Form components</span>
            </a>
          </li>
          <li class=''>
            <a href='validations.html'>
              <i class='icon-caret-right'></i>
              <span>Validations</span>
            </a>
          </li>
          <li class=''>
            <a href='wizard.html'>
              <i class='icon-caret-right'></i>
              <span>Wizard</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>